
.header{
  /* position: fixed; */
  background-color: #9e6868;
  display: none;
  /* z-index: 1; */
}

/* .master-detail {
  display: flex;
  flex-direction: row;
} */

.master{
  /* min-width: 300px; */
}

/* .master:not(.tiny){
  transition: transform .5s;
  transform: scale(1);
  transform-origin: top left;
} */

/* .master.tiny{
  transition: transform .5s;
  transform: scale(.3);
  transform-origin: top left;
} */

.detail {
  animation: fadein .7s;
  /* position: fixed; */
}

@keyframes fadein {
  from {
    opacity: 0;
    /* transform: translate(-90%, 0); */
  }
  to {
    opacity: 1;
    /* transform: translate(0, 0); */
  }
}
