.cr--light-silver {
  column-rule-color: #aaa;
}

.cr1 {
  column-rule-width: 1px;
  column-rule-style: solid;
}

/* NOTE: the query below is the same as tachyons' -l module's */
@media screen and (min-width: 60em) {
  .cc2-l {
    column-count: 2;
    column-gap: 3rem;
  }

  .cc2-l .noColumnBreak, .cc2-l .noColumnBreak ul {
    break-inside: avoid-column;
  }
}
