.v-mid-i {
  position: relative;
  top: 0.17em;
}

.icon-in-text {
  width: .9em;
  height: .9em;
  display: inline-block;
}

/* Add the stroke property to Tachyon's color classes*/
.white {
  stroke: white;
}

.dark-gray {
  stroke: #333;
}

.blue {
  stroke: #357edd;
}

.light-silver{
  stroke: #aaa;
}