.offc {
  transition: margin-left 0.25s;
}

.offc.off {
  margin-left: -100%;
}
.offc:not(.off) {
  margin-right: -100%;
}

/* NOTE: the query below is the same as tachyon's -ns module's */
@media screen and (min-width: 30em) {
  .offc.on-ns {
    margin-left: unset;
    margin-right: unset;
  }
  .offc:not(.off) {
    margin-right: unset;
  }
}

/*this ensures that, when calling scrollIntoView(element) with an element that
has this class, its top part won't be overlaped by the navigation header.*/
.scroll-hack{
  /* -2rem/2rem because 2rem is the height of the fixed navigation header*/
  margin-top: -2rem;
  padding-top: 2rem;
}